<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduSpark</title>
        <link rel="stylesheet" href="paper.css">

</head>
<body><br>
  <div class="pap-head"><img class="logo" src="https://image2url.com/r2/default/images/1774877777631-c38ec464-c4e5-4b44-8a74-48f22bb64834.jpeg"
 alt="logo">
<h1>EduSpark</h1></div>
   
<%let i = 0%>
<%for(let q of question){%>
    <%if(typeof q === 'string'){i=0%>
    <h5><%= q %></h5>
    <%}else{%>
        <%if(q.questionType === "MCQ"){i=i+1;%>
        <h3>(<%=i%>)<%=q.questionText%></h3>
        <p>(A)<%=q.options[0]%></p>
        <p>(B)<%=q.options[1]%></p>
        <p>(C)<%=q.options[2]%></p>
        <p>(D)<%=q.options[3]%></p><br>
        
        <%}else{%>
           <% if(q.hasImage == "yes"){i=i+1;%>
                <h3>(<%=i%>)<%=q.questionText%></h3>
                <img class="center" src="<%=q.image%>" alt="question image"> <br>  
            <%}else{%>
                <%i=i+1;%>
            <h3>(<%=i%>)<%=q.questionText%></h3><br>
            <%}%>
<%}}}%>

</body>
<script>
    window.onload = function(){
        setTimeout(function(){
            window.print()
        }, 2000)
    }
</script>
</html>